@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #0f0f10 !important;
}

.qa-after-plus-icon::after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url("../../public/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.qa-after-minus-icon::after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 12px;
  width: 18px;
  height: 4px;
  content: "";
  background-image: url("../../public/minus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
